.cardTwo {
    box-shadow: 0 4px 8px 9 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    max-width: 20%;
    max-height: 20%;
    align-content: center;
    align-items: center;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    align-self: center;
}

.cardTwo:hover {
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
}

.containerTwo {
    padding: 2px 16px;
}

.imgStyleTwo {
    width: 50%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    align-items: center;
    align-self: center;
}

.textTitle {
    align-content: center;
    align-items: center;
    align-self: center;
    font-style: bold;
}

.textDescription {
    align-self: center;
}