.shareButton {
    background-color: #023246;
    border: none;
    border-radius: 8px;
    width : 180px;
    height: 50px;

    color: white;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-size: 16px;
  
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  
    cursor: pointer;
    transition: all 0.5s;

    box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .shareButton:hover {
    background-color: #287194;
  
    color: white;
  
    box-shadow: 0px 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  
  .iconStyle {
      height : 20px;
      width : 20px;
      padding-right: 20px;
      display: inline-block;
  }

  .buttonTextStyle {
    display: inline-block;
  }