.archRow {
    display: flex;
    position: relative;
    left: 0px;
    top: 0px;
    
}

.archRowTwo {
    display: flex;
    position: relative;
    left: 108px; 
    top: -50px;   

}

.archRowTwo::after {
    content: "";
    clear: both;
    display: table;
}

.archRow::after {
    content: "";
    clear: both;
    display: table;
}


.archRowItemOne {
    float: left;
    width: 200px;
    padding: none;
    margin-right: 10px;
    -webkit-animation: slide-right 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both, fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: slide-right 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both, fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation-delay: 0.4s;
}

.archRowItemTwo {
    float: left;
    width: 200px;
    padding: none;
    margin-right: 10px;
    -webkit-animation: slide-right 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both, fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: slide-right 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both, fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation-delay: 0.2s;
}

.archRowItemThree {
    float: left;
    width: 200px;
    padding: none;
    margin-right: 10px;

    -webkit-animation: slide-right 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both, fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: slide-right 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both, fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation-delay: 0s;
}

.archRowItemFour {
    float: left;
    width: 200px;
    padding: none;
    margin-right: 10px;
    -webkit-animation: slide-right 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both, fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: slide-right 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both, fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation-delay: 1s;
}

.archRowItemFive {
    float: left;
    width: 200px;
    padding: none;
    margin-right: 10px;
    -webkit-animation: slide-right 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both, fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: slide-right 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both, fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation-delay: 0.8s;
}

.archRowItemSix {
    float: left;
    width: 200px;
    padding: none;
    margin-right: 10px;
    -webkit-animation: slide-right 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both, fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: slide-right 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both, fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation-delay: 0.6s;
}

.archRowImg {
    width: 200px
}

.textInside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    text-align: center;
    color: #154357;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    /* -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both; */
}

/* ----------------------------------------------
 * Generated by Animista on 2019-12-6 15:35:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-12-6 15:50:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* ----------------------------------------------
 * Generated by Animista on 2019-12-6 16:19:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  