/* unvisited link */
a:link {
    color: cornflowerblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  /* visited link */
  a:visited {
    color: #154357;
  }
  
  /* mouse over link */
  a:hover {
    color: #154357;
  }
  
  /* selected link */
  a:active {
    color: lightblue;
  }