.cardThree {
    box-shadow: 0 4px 8px 9 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 300px;
    width: 300px;
    align-content: center;
    align-items: center;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    background-color: #F8F8F8;
    position: absolute;
    top: 0px;
    left: 0px;
}

.cardThree:hover {
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
    opacity: 20%;
}

.containerThree {
    position: relative;
    top: 70px;
    padding: 2px 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #154357;
}

.imgStyleThree {
    position: relative;
    top: 50px;
    width: 50%;
    align-items: center;
    text-align: center;
}

.cardThreeB {
    box-shadow: 0 4px 8px 9 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 300px;
    width: 300px;
    align-content: center;
    align-items: center;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    background-color: #164357;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
}

.cardThreeB:hover {
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
    opacity: 90%;
  
}

.containerThreeB {
    position: relative;
    top: 70px;
    padding: 2px 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.imgStyleThreeB {
    position: relative;
    top: 50px;
    width: 50%;
    align-items: center;
    text-align: center;
}

