.inputForm {
    width : 100%;
    padding : 12px 20px;
    margin : 8px 0;
    box-sizing : border-box; 
    border : none;
    border-bottom : 2px solid gray;
}

.inputForm:focus {
    border-bottom : 2px solid black;
}