.blogPostCard {
padding-left: 120px;
padding-right: 120px;
}

.blogPostTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.blogPostDate {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.blogPostBody {
    font-family: Arial, Helvetica, sans-serif;
}