.inputFormTwo {
    width : 25%;
    height : 20px;
    padding : 12px 20px;
    margin-right: 5px;
    margin-bottom: 10px;
    box-sizing : border-box;
    border : 2px solid gray;
    border-radius: 5px;
}

.inputFormTwo:focus {
    border : 2px solid black;
}

.inputFormTwoSize {
    width : 50%;
    height : 20px;
    padding : 12px 20px;
    margin-right: 5px;
    margin-bottom: 10px;
    box-sizing : border-box;
    border : 2px solid gray;
    border-radius: 5px;
}

.inputFormTwoSize:focus {
    border : 2px solid black;
}