.carousel {
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.carousel_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel_track-container{
    background: lightgreen;
    padding: 10px;
    height: 100%;
    position: relative;
}

.carousel-track {
    padding: 0;
    margin: 0;
    list-style: none;
}

.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel_button {
    position: absolute;
}

.carousel_button--right {

}

.carousel-nav {

}

.carousel_indicator {

}

.current-slide {

}