.body{
    line-height: 24px;
    font-size: 16px;
    box-sizing: border-box;
}

/* hide the original checkbox */
.checkbox input[type="checkbox"]{
    opacity: 0;
}

.checkbox label {
    position: relative;
    display: inline-block;
    padding-left: 22px;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";
    display: inline-block;
}

.checkbox label::before{
    height: 16px;
    width: 16px;

    border: 1px solid;
    left: 0px;
    top: 3px;
}

.checkbox label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;

    transform: rotate(-45deg);
    
    left: 4px;
    top: 7px;
}

.checkbox input[type="checkbox"] +label::after {
    content: none;
}


.checkbox input[type="checkbox"]:checked+label::after {
    content: "";
}

.checkbox input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}
