.myFooter {
  position : fixed;
  left : 0;
  bottom : 0;
  width : 100%;
  background-color : #023246;
  
  color : white;
  text-align : center;
  font: small;
  padding-top: 4px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  /* width: 500px;
  border: 5px solid rgb(111,41,97);
  border-radius: .5em;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 1em; */
}

.grid-container > div {
 background-color: 023246;
 text-align: center;
 padding: 20px 0;
 font-size: 30px; 
}

.item1 {
  grid-row: 1;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;

}

.item2 {
  grid-row: 1;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.item3 {
  grid-row: 1;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

tflogoDiv {

  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  width: 20%;
  max-width: 20%;
  max-height: 20%;
  align-content: center;
  align-items: center;

}

tflogoImg {
  width: 50%;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  align-items: center;
  align-self: center;
}