.circleButton {
    
    height: 100px;
    width: 100px;

    background-color: #023246;
    border: none;
    border-radius: 50%;

    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    transition: all 0.5s;

    box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .circleButton:hover {
    background-color: #287194;  
    box-shadow: 0px 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  

  downImage {
    border: none;
    width: 50%;
    vertical-align:middle; 
    text-align:center
  }

  #downImage img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
  }