.textAreaOne {
    width : 50%;
    height : 150px;
    padding : 12px 20px;
    box-sizing : border-box;
    border : 2px solid gray;
    border-radius : 5px;
    background-color : white;
    font-size : 16px;
    resize : none;
}

.textAreaOne:focus {
    border : 2px solid black;
}