ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #154357;
    color: white;
  }
  
  li {
    float: left;
    border-right: none;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;  
  }
  
  li a:hover:not(.active) {
    text-decoration: underline;
    color: white;
}
  
  .active {
    text-decoration: underline;
  }