.btnCursor {
  background-color: #023246;
  border: none;
  padding: 12px 28px;
  border-radius: 8px;

  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;

  cursor: pointer;
  transition: all 0.5s;
  margin: 5px;

  box-shadow: 0px 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btnCursor span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btnCursor span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  box-shadow: 0px 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btnCursor:hover span {
  padding-right: 25px;
}

.btnCursor:hover span:after {
  opacity: 1;
  right: 0;
}

.btnCursor:disabled {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0),
  0 0 0 0 rgba(0, 0, 0, 0.0);
  background-color: gray;
}
